<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.online.edu.web.controller" />

	
	

	<!-- 视图解析器 -->
	<bean id="view" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/resource/" mapping="/resource/**" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/resource/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/user/loginForm" />
			<mvc:exclude-mapping path="/user/login" />
			<mvc:exclude-mapping path="/user/registForm" />
			<mvc:exclude-mapping path="/user/regist" />
			<mvc:exclude-mapping path="/category/loadAllCategories" />
			<mvc:exclude-mapping path="/home/index" />
			<mvc:exclude-mapping path="/mgr/**" />
			<bean class="com.online.edu.web.tool.CommonInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/mgr/**" />
			<mvc:exclude-mapping path="/mgr/loginForm" />
			<mvc:exclude-mapping path="/mgr/login" />
			<bean class="com.online.edu.web.tool.CommonInterceptorMgr" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
